In [26]:
import pandas as pd
df=pd.read_csv("C:\\Users\\Cherry\\Desktop\\Edvancer\\my-learning-notebooks\\intro-to-python-ml\\week4\\data\\smsspamcollection\\SMSSpamCollection",
               sep='\t',names=['label','sms_message'])
df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [27]:
#Categorical to Numerical

df['label']=df.label.map({'ham':0,'spam':1})
df.shape
df.head()

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['sms_message'],df['label'],random_state=1)

X_test.shape[0]

1393

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector=CountVectorizer()

training_data=count_vector.fit_transform(X_train)

testing_data=count_vector.transform(X_test)

In [30]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [31]:
predictions=naive_bayes.predict(testing_data)
predictions

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [33]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
print("Accuracy score: ",format(accuracy_score(y_test,predictions)))
print("Precision score: ",format(precision_score(y_test,predictions)))
print("Recall score: ",format(recall_score(y_test,predictions)))
print("f1 score:",format(f1_score(y_test,predictions)))

Accuracy score:  0.9885139985642498
Precision score:  0.9720670391061452
Recall score:  0.9405405405405406
f1 score: 0.9560439560439562